<div class="footer">
	<div class="container">
	  <div class="row">
		  <div class="col-md-4"></div>
		  <div class="col-md-4">
		  	<p>
		  		<%= link_to "About", pages_about_path, class:"btn btn-link" %>
		  		<%= link_to "Contact", pages_contact_path, class:"btn btn-link" %>
				</p>
			</div>
		  <div class="col-md-4"></div>
		  <div class="col-md-12">
		  	<p class="footer">Copyright Steve Aitken 2016</p>
		  </div>
		</div>
	</div>
</div>
